body{
    background-color:  rgb(242, 253, 253);
    color: black;
}

hr{
    width: 100%;
    border: 2px solid white;
    box-shadow: 2px 2px 6px grey;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

#box_form{
    width: 500px;
    border: 2px solid white;
    background-color: #00ABA5;
    background-image: linear-gradient(#00ABA5 39%, #f5f5f5 41%);
    box-shadow: 2px 2px 6px grey;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.form-control:focus {
    border-color: #00aba581 !important;
    box-shadow: 0 0 0 0.25rem #00aba51f !important;
}

button{
    width: 250px;
}

nav{
    display:flex;
    justify-content: right;
}

#btn_nav, #pt1, #pt2{
    border-color: white;
    border: 2px solid;
    background-color: transparent;
    width: 180px;
    height: 40px;
    font-size: .8rem;
    align-self: center;
    margin-right: 2%;
    border-radius: 15px;
    text-transform: uppercase;
}

.btn-outline-light:active , .btn-outline-light:hover{
    background-color: white !important;
    color: #00ABA5 !important;
    border-color: white ;
}

.btn-outline-success {
    color: #00ABA5;
    border-color: #00ABA5 !important;
    border: 2px solid !important;
    border-radius: 20px;
}

.btn-outline-success:active , .btn-outline-success:hover{
    background-color: #00ABA5 !important;
    border-color: #00ABA5 ;
}

.btn-outline-success:focus {
    box-shadow:  0 0 0 0.25rem #00aba565;
}

.input_copy{
    width: 280px;
    height: auto;
    background-color: transparent;
    border: none;
    color: black;
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

#cargo_copy , #fone_copy{
    text-transform: none;
    font-size: .9rem;
}

#modal_back{
    background-image:url("/Img/pmf_branco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #00ABA5;
}

#modal_box_flex_button{
    
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 90%;
    z-index: 1;
}





@media screen and (max-width: 510px) {
    .x_flow{
        overflow-x: scroll;
    }
    #box_form{
        background-image: linear-gradient(#00ABA5 43%, #f5f5f5 45%);   
    }
}

@media screen and (max-width: 276px) {
    .x_flow{
        overflow-x: scroll;
    }
    #box_form{
        background-image: linear-gradient(#00ABA5 52%, #f5f5f5 54%);   
    }
    #btn_nav{
        font-size: .5rem;
    }
}